body {
    font-family: Arial, sans-serif;
    background-color: rgb(179, 176, 176);
    display: flex;
    padding: 30px;
    justify-content: center;
}
input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 15px;
}
button {
    padding: 10px;
    background-color: rgb(0, 150, 250);
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
h2 {
    font-size: 16px;
    color: black;
    margin: 6px;
    font-weight: normal;
}
.container {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
}
.bt-voltar {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #6c757d; 
    color: white;
    text-decoration: none; 
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}
.excelencia {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(107, 24, 139);
    padding: 2px;
    border-radius: 4px;
}
.aprovado {
    color: #ffffff;
    font-weight: bold;
    background-color: #257e2c;
    padding: 2px 8px;
    border-radius: 4px;
}
.recuperar {
    color: #ffffff;
    font-weight: bold;
    background-color: #f59c0c;
    padding: 2px 8px;
    border-radius: 4px;
}
.reprovado {
    color: #ffffff;
    font-weight: bold;
    background-color: #e61313;
    padding: 2px 8px;
    border-radius: 4px;
}
.reprovado_frequencia{
    color: #ffffff;
    font-weight: bold;
    background-color: #e61313;
    padding: 2px 8px;
    border-radius: 4px;
}